$primary-color: rgb(2, 12, 14);
$secondary-color: rgb(27, 216, 233);
$font-family: 'Anton', sans-serif;

@mixin easeOut {
    transition: all 1.5s ease-out;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: $primary-color;
    color: white;
    height: 100%;
    line-height: 1.5;
    background: opacity(0.2);
}

.nav{
    overflow: hidden;
    &__menu{
        display: flex;
        justify-content: space-around;
        padding: 14px;
    }
    &__logo{
        font-family: $font-family;
        font-size: 2rem;    
    }
    &__logo-name{
       color: white;
       text-decoration: none;
    }
    &__links{
        list-style: none;
        display: flex;
        align-items: center
    }
    &__items{
        padding-left: 24px;
    }
    &__link{
        color: $secondary-color;
        text-decoration: none;
    }
    &__image-container{
        object-fit: contain;
        width: 100%;
        position: absolute;
        z-index: -1;
    
    }
    &__background-image{
        width: 100%;
    }
}

.home{
    padding: 4rem;
    height: 100%;
    margin-top: 20vh;
    position: relative;
    &__heading{
        font-weight: 300;
    }
    &__heading--lg{
        font-family: $font-family;
        font-size: 6rem;
    }
    &__text-secondary{
        color: $secondary-color;
    }
    &__heading--sm{
        margin-bottom: 2rem;
       padding: 0.2rem, 1rem;
       background: rgba(lighten($primary-color, 2), 0.5);
    }
}
a{
    color: white;
}
.icons{
    
    a{
        padding: 0.4rem;
        &:hover{
            color: $secondary-color;
            @include easeOut;
        }
    }
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    &__title {
        width: 100%;
        padding-bottom: 2rem;
        text-align: center;
        font-size: 2rem;
    }
    &__img{
        width: 200px;
        border-radius: 50%;
    }
    &__bio {
        padding-left: 40px;
        width: 50%;
    }
}


.technologies{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__header {
        padding-top: 10rem;
        width: 100%;
        text-align: center;
        font-size: 2rem;
    }
    &__column {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        padding-top: 36px;
    }
    &__title {
        padding-bottom: 32px;
        font-size: x-large;
    }
    &__list {
        display: flex;
        flex-direction: column;
    }
    &__list-copy {
        list-style: none;
    }
    &__item {
        padding-bottom: 20px;
    }
}

.project{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    &__header {
        padding: 5rem;
        padding-bottom: 5rem;
        text-align: center;
        width: 100%;
        font-size: 2rem;
    }
    &__pages {
        width: 425px;
        height: 350px;
        padding-bottom: 24px;
    }
}